<section class="home">
        <div class="home-presentation">
         <img src="https://private-user-images.githubusercontent.com/37249375/304588713-1faf904c-19ff-4d1d-9837-56df095bc3fb.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MDc4NzI0OTYsIm5iZiI6MTcwNzg3MjE5NiwicGF0aCI6Ii8zNzI0OTM3NS8zMDQ1ODg3MTMtMWZhZjkwNGMtMTlmZi00ZDFkLTk4MzctNTZkZjA5NWJjM2ZiLnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDAyMTQlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwMjE0VDAwNTYzNlomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPWRkZTFhNzk3NzlhODIwMjZkZTUyNDAxZGFhYjJmNmI2YTQ1ZmYxZTQ5M2FlMWIxOTdhNjAwYTI1ODY4NjU2YjkmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.gHsxplGFqMhR8f1QVpMlJz3XadK3MvfZVHdh33PZi7E" alt="Hedgehog" class='h-logo'>
            <h1>HedgeHog</h1>
        </div>

        <div class="home-sessions">
            <ul class='h-options'>
                <li class='h-login active'><%= link_to 'LOG IN', new_user_session_path %></li>
                <li class='h-singup'><%= link_to 'SIGN UP', new_user_registration_path %></li>
            </ul>
        </div>
</section>