<section class='transactions'>
    <nav class="navbar">
    <ul class='s-ul'>
    <li><%= link_to authenticated_root_path do %><p class='back'>&#8801;</p><% end %></li>
    <li><p>Transaction</p> </li>
    <li>  <%= button_to "LogOut", destroy_user_session_path, method: :delete, class: "btn-out" %>
    </li>
    </ul>
    </nav>
</section>